<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/player.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div id="subtitle-text" class="col-md-12">
            Hello World. Subtitle here. Yes. It is a subtitle. Indeed a subtitle. A very very long subtitle. Laughes.
        </div>
    </div>
</div>



<script>


</script>
</body>
</html>
